/*import of google font*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

/*definig general style for all divs*/
* {
    margin:0;
    padding:0;
    font-size:xx-large;
    font-stretch:wider;
    font-weight:700;
}

/*definig specific style for header div*/
header {
    font-family: 'Special Elite', cursive;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/terrarium.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

/*definig general stye for list*/
ul {
    font-family: 'Special Elite', cursive;
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

/*defining behaviour of list elements*/
ul li{
    display: inline-flex;

}

/*definig style of links in list*/
ul li a{
    text-decoration:none;
    color:#000000;
    padding:5px 20px;
    border: 5px solid;
    transition: 0.6s ease; 
}
 /*definig div in list*/
ul li div{
    width:200px;
    text-align:center;
    background-color:#000000;
    text-decoration:none;
    color:antiquewhite;
    padding:5px 20px;
    border: 5px solid;
    transition: 0.6s ease; /*defining soften after hoover*/
}

  /*defining hover of hyperlink*/
ul li a:hover{

    background-color:#000000;
    color:antiquewhite;

}

/*style of image from logo image*/
.logo img{
    float: left;
    width: 300px;
    height: auto;
}


/*defining specific stle of main div*/
.main {
   
    max-width: 1000px;
    margin: auto;
}

/*general style for title*/
.title {
    display: inline-flex;
    font-family: 'Special Elite', cursive;
    padding: 20px 20px;
    padding-top: 50px;
    border: 10px solid;
    background-color: #000000;
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

    /*specific style for header in title div*/
 .title h1 {

    color: antiquewhite;
    font-size: 150px;

 }

/*specific style for description div*/
.description {
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    padding: 10px 20px;
    border: 5px solid;
    position: absolute;     
    display: flex;
    margin: auto;
    top: 68%;
    left: 10%;
    right: 10%;
    color: lightgrey;
    background-color:#000000;
}
